@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
}

@mixin align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    
    .parallax_wrapper {
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 300px;

        .intro_screen {
            height: 100vh;
            background-color: blueviolet;
            @include align-center;
        }

        .outro_screen {
            height: 100vh;
            background-color: rgb(43, 226, 98);
            @include align-center;
        }

        .parallax_group {
            position: relative;
            height: 100vh;
            transform-style: preserve-3d;

            .parallax_layer {
                position: absolute;
                inset: 0;
                @include align-center;  
            }

            .base_layer {
                // scale calculation: 1 + ((Z tranform value * -1) / perspective)
                transform: translateZ(-300px) scale(2);
            }

            .mid_layer {
                transform: translateZ(0);
            }

            .top_layer {
                transform: translateZ(210px) scale(0.3);
            }
        }

        #intro {
            z-index: 0;
        }

        #group-1 {
            z-index: -1;
        }

        #group-1 > .base_layer {
            background-color: crimson;
        }

        #group-2 {}

        #group-2 > .mid_layer {
            background-color:  yellowgreen;
        }

        #outro {}

    }

}

